<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nomameserick</title>
    <link rel="stylesheet" href="css/inde.css">
</head>
<body>
    <div class="nav-bar"></div>
    <div id="app">
        <div class="product">
            <div class="left-column">
                <div class="sidebar-img">
                    <img v-for="img in selectedProduct.images"
                    :src="img"
                    class="side-img"/>
                </div>
                <img v-bind:src="selectedProductImg" class="img" />
            </div>
            <div class="center-column">
                <div class="details">
                    <h1>{{ platillo.name }}</h1>
                    <hr>

                    <span v-if="selectedProduct.cantidad > 50" class="stock in-stock">
                        In stock.
                    </span>
                    <span v-else-if="selectedProduct.cantidad > 0 && selectedProduct.cantidad < 50"
                        class="stock low-stock">
                        Hurry! Almost over.
                    </span>
                    <span v-else class="stock out-of-stock">
                        Out of stock.
                    </span>

                    <span><b>Postre {{selectedProduct.nombre}}</b></span>
                    <div class="colors">
                        <span v-for="opcion in platillo.opciones" v-bind:key="opcion.id" v-bind:title="opcion.nombre"
                            v-bind:style="{backgroundColor: opcion.color }"
                            v-bind:class="{ 'color-box': true, 'color-selected': selectedProduct.id === opcion.id}"
                            v-on:click="selectProduct(opcion.id)"
                            @mouseenter="setPreviewModel(opcion.id)"
                            @mouseleave="clearPreviewModel">
                        </span>
                    </div>

                    <ul class="detalles">
                        <li v-for="detail in selectedProduct.detalles">
                            {{ detail }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="dash.js"></script>
</html>